*{
  box-sizing: border-box;
  font-family: 'Labrada', serif;
  }

body { 
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(4, 150, 187, 0.616));
  box-sizing: border-box;
  font-family: 'Labrada', serif;
  color: white;
  }

button{
 height: 75px;
 text-transform: uppercase;
 font-size: x-large;
 font-weight: bold;
 background-color: rgb(4, 150, 187, 0.616);
 border-color: rgb(0, 0, 0, 0.5);
 border-style: solid;
 border-width: 4px;
 border-radius: 200px;
 width: 420px;
 cursor: pointer;
}

#LinkedIn{
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 120px;
  left: 35px;
 }

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

 h1#Nombre{
 font-size: 65px;
 text-align: center;
 font-weight: bold; 
 text-transform: capitalize; 
 color: rgb(0, 0, 0);

} 

 h2{
 font-size: 45px;
 text-align: center;
 font-weight: bold; 
 text-decoration: underline;
 color: #000000;
}

 h3{
 font-size: 35px;
 text-align: center;
 font-weight: bold; 
 text-decoration: underline;
 color: #000000;
}

p#Contenido{
 font-size: 25px;
 text-align: justify;
 margin: 0% 25% 0% 25%;
}
p#Contenido0{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0% 25% 0% 25%;
 }

p#Contenido1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 0% 25% 0% 25%;
 }

img{
 display: block;
 margin: auto;
 margin: bold;
 border-radius: 1000px;
 border-color: white;
 border-style: solid;
}

#whatsapp {
 position: fixed;
 bottom: 20px;
 left:20px;
}
